extends layout

block content
  a#btnGoHomeCustom.btn.btn-primary.btn-sm(href='/' role='button') Back Home
  hr
  p.lead
      | Enter a place to search for coordinates:
  .mb-3
    label.form-label(for='myplace') Place
    input#myplace.form-control(type='text' placeholder='Boston, Massachusetts')
  a#btnLookup.btn.btn-info.btn-lg(role='button') Lookup
  .mb-3
    label.form-label(for='latitude') Latitude
    input#latitude.form-control(type='text' readonly='')
  .mb-3
    label.form-label(for='longitude') Longitude
    input#longitude.form-control(type='text' readonly='')
  .mb-3
    label.form-label(for='timezone') Timezone
    input#timezone.form-control(type='text' readonly='')
  .mb-3
    label.form-label(for='formattedPlace') Place
    input#formattedPlace.form-control(type='text' readonly='')
  hr
  a#btnGetCustomForecast.btn.btn-primary.btn-sm.disabled(href='/' role='button') Get Forecast
  

  