extends layout

block content
  .jumbotron.jumbotron-fluid
    h1.display-4 Welcome to Nick's World of Weather!
    p.lead
      | Get weather and alerts from your favorite places
    hr.my-4
    p
      | Choose your city and weather options below!
    #cityGroups
      a#btnBostonWeather.btn.btn-info.btnWeather(href='/weather' role='button') Boston
      #alerts
      a#btnBostonAlerts.btn.btn-outline-danger.btnWeather(href='/weather' role='button') Alerts
  img(src='/assets/sun.png' alt='Sun' width='250' height='180')
  img(src='/assets/snow.png' alt='Snow' width='200' height='180')
  img(src='/assets/cloud.png' alt='Cloud' width='200' height='180')
  img(src='/assets/rain.png' alt='Rain' width='200' height='180')
  
  
