doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/jquery/jquery.js')
    script(src='/js/scripts.js')

  body
    div.container
      block content
    -
      const author = {
        firstName: 'Nick',
        lastName: 'Norman'
      }
    a#btnGoHome.btn.btn-primary.btn-sm(href='/' role='button') Back Home
    p= `Created by: ` + `${author.firstName} ${author.lastName}`
    
    
      

    