doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet' href='/fonts/css/all.css')
    script(src='/js/geocodes.js')
  body
    div.container
      block content
    
    
      

    