extends layout

block content
  if forecasts.length
    table.listing-table.table-striped
      tr
        th Name
        th Forecast
        th Temperature
        th Wind Speed
        th Wind Direction
      each forecast in forecasts
        tr
          td= forecast.name
          td= forecast.detailedForecast
          td(style='background-color:hsla(180, 50%, 50%,0.4)')= forecast.temperature
          td= forecast.windSpeed
          td= forecast.windDirection
  else
    p No forecasts