extends layout

block content
  if forecasts.length
    table.listing-table.table-dark.table-striped
      tr
        th Temp
        th Forecast
      each forecast in forecasts
        tr
          td= forecast.temperature
          td= forecast.shortForecast
  else
    p No forecasts