body {
    padding: 40px 10px;
    background-color: rgb(238, 238, 238);
  }
  /* Styles for listing table */
.listing-table {
  width: 100%;
}
.listing-table th,
.listing-table td {
  padding: 10px;
  border-bottom: 3px solid rgb(2, 1, 20);
  border-top: 3px solid rgb(2, 1, 20);
}
.listing-table th {
  background: hsla(212, 64%, 45%, 0.233);
  color: #fff;
}
.listing-table th,
.listing-table td {
  border-right: 3px solid rgb(2, 1, 20);
  border-left: 3px solid rgb(2, 1, 20);
}
.btnWeather {
  padding: 10px;
  margin: 5px;
}
.btnWeather.raised {
  box-shadow: 3px 3px 3px 3px #293c42;
}
div#cityGroupings {
  display: flex;
  align-items: center;
}
#btnGetAlerts {
  margin-bottom: 8px;
}
#btnLookup,
#btnFindForecastUrl {
  margin-bottom: 20px;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  width: 500px;
  background-color: rgb(152, 158, 158);
  margin-bottom: 20px;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 50px;
  margin: 2px;
  text-align: center;
  line-height: 25px;
  font-size: 10px;
}
#photoDisplay {
  margin-top: 80px;
  margin-left: 100px;
}

